*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;    
}
@media (max-width:1280px) {
    .container{
        max-width: 1040px;
       
    }
    
}
@media (max-width:1180px) {
    .container{
        max-width: 940px;
    }
    
}
@media (max-width:1080px) {
    .container{
        max-width: 880px;
    }
    
}
@media (max-width:980px) {
    .container{
        max-width: 780px;
    }
    
}
@media (max-width:880px) {
    .container{
        max-width: 680px;
    }
    
}
@media (max-width:780px) {
    .container{
        max-width: 580px;
    }
    
}
@media (max-width:680px) {
    .container{
        max-width: 480px;
    }
    
}
@media (max-width:580px) {
    .container{
        max-width: 380px;
    }
    
}
@media (max-width:480px) {
    .container{
        max-width: 280px;
    }
    
}

/**==============NAV============**/
nav{
    .navflex{
        display: flex;
        justify-content: center;
        padding: 10px 0;
        
       

    }
        & i {
        font-size: 35px;
     
        }


    input{
        width: 20px;
        transform: translateX(-28px) translateY(-3px);
        opacity: 0;
        

        &:checked + .menu{
           transform: translateX(0);
        }


    }    

        


    .menu{
        
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding: 50px 100px;
        background: #000000ee;
        transition: .3s;
        transform: translateX(-100%);

    

        
    }
    & li{
        padding: 15px 10px;
    }
    & a{
        display: inline-block;
        font-size: 20px;
        color: white;
        transition: .5s;

        &:hover{
            transform: scale(1.3) translateX(5px);
        }
    }
   
   
    }

/**=============HEADER=============**/

header{

     background-color: #fef9e6;

    .headflex{
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0px;
        margin-bottom: 50px;
        
    }

    .headinf{
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        padding: 10px;


    }
    .headimg{
        width: 33%;
        display: flex;
        align-self: center;
        padding: 10px;



    }
    .headprc{
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        padding: 10px;
    }

    h1{
        font-size: 40px;
        font-weight: lighter;
        margin-bottom: 10px;
    }
    p{
        font-size: 18px;
        margin-bottom: 15px;
    }

    i{
        font-size: 25px;
        padding: 10px;
        transition: .5s;
        &:hover{
            transform: scale(1.3);
        }
    }

    h2{
        margin-bottom: 10px;
    }
    a{
        display: inline-block;
        font-size: 18px;
        padding: 15px 30px;
        color: black;
        border: 1px solid black;
        border-radius: 50px;
        transition: .4s;
        &:hover{
            color: white;
            background-color: black;
        }
    }
   

    @media (max-width:780px){
    
        .headinf{
            width: 100%;
            
    
        }
        .headimg{
            width: 100%;  
            padding: 50px 10px;   
    
    
        }
        .headprc{
            width: 100%;
           
        }
    
    }
    
    

}   


.sectop{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;

    .toptext{
        width: 50%;       
        padding: 0 50px;
        
       

    }
    .topimg{
        width: 50%;
        padding: 0px 30px;
       
    }

    .sign{
        display: flex;
        
        width: 100%;
        justify-content: end;

        img{
            width: 60%;
        }

        
    }
    h2{
        font-size: 40px;
        font-weight: lighter;
        margin-bottom: 20px;
        padding: 20px 0;
    }
    p{
        font-size: 18px;
        margin-bottom: 50px;
       
    }

    @media(max-width:884px){
        .topimg{
            margin-top: 150px;
        }
    }
    @media(max-width:780px){
        .topimg{
           width: 100%;
           margin-top: 50px;
        }
        .toptext{
            width: 100%;       
            padding: 0px;
            
           
    
        }
    }
    
}



.catalog{
    background-color: #f2f2f2;
    padding: 50px 0px ;

    .catalogflex{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .cattitle{
        width: 100%;
        text-align: center;

        & h2{
            font-size: 45px;
            font-weight: lighter;
            padding: 20px 0px;
        }
    }
    .card{
        width: calc(25% - 10px);
        padding: 10px;
        background-color: white;
        

      
        
        

        }
    p{
            font-size: 22px;
            font-weight: lighter;
            padding: 10px 0;
        }
    span{
            font-size: 22px;
            font-weight: bold;
            padding: 10px 0;
        }
    img{
        overflow: hidden;       
        height: 316px;
    }  
        

        @media (max-width:980px){
            .card{
                width: calc(50% - 10px);
                

        }

    }

    @media (max-width:780px){
        .card{
            width: calc(100% - 10px);
            margin: 10px 0;
        & img{
            height: 100%;
        }
        & p{
            font-size: 30px;
        }
        & span{
            font-size: 30px;
        }

    }

}
}    

.work{
    background-color: #fef9e6;
    margin-bottom: 50px;

    & .workdiv{
        display: flex;
        flex-wrap: wrap;
       
    }
    & .worlleft{
        width: 50%;
        padding: 20px 50px;
    }
    & .workright{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 40px 10px;


        & h2{
            width: 100%;
            font-size: 40px;
            font-weight: lighter;
          
        }


        & .cardtext{
            width: calc(50% - 10px);
            background-color: white;
            display: flex;
            flex-direction: column;
            padding: 10px;
            

            & h4{
                font-size: 27px;
                margin-bottom: 15px;
            }
            & h3{
                font-size: 24px;
                margin-bottom: 15px;

            }
        }
    }

    @media (max-width:880px){
        .workright{
            width: 100%;
            & h2{
                padding: 30px 0px;
            }
           }

           .worlleft{
            width: 100%;
            padding: 20px 0px;
        }
        

        @media (max-width:580px){
          
            .workright{
                
                & .cardtext{
                    width: 100%;
                }
            }
            
           
    
        }
    }
}


.questflex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & .questtitle{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h2{
            font-size: 40px;
            font-weight: lighter;
            margin-bottom: 10px;
        }

        & p{
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    & .questcart{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 25px 40px;
        background-color: #f2f2f2;
        transition: .3s;

        &:hover{
            background-color: antiquewhite;
        }

        & p{
            font-size: 18px;
            font-weight: bold;
        }
        & i{
            font-size: 24px;
            color: #969494;
            padding-right: 20px;
        }
        
        @media (max-width:580px){
            i{
               padding: 0px;
            }
        }
    }
}

.bestflex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;

    & .besttitle{
        width: 100%;
        text-align: center;

        & h2{
            font-size: 50px;
            font-weight: lighter;
            padding: 30px 0;
        }
    }

    & .bestcart{
        width: calc(25% - 15px) ;

        & img{
            height: 320px;
        }

        & p{
            font-size: 22px;
            padding: 10px 0;
        }

        & span{
            font-size: 20px;
            font-weight: bold;
            padding: 10px 0;
        }
    }

    @media (max-width:980px){
        .bestcart{
            width: calc(50% - 15px)
        }

    }


    @media (max-width:580px){
        .bestcart{
            width: calc(100% - 15px)
        }

    }
}

.order{
    background-color: #f2f2f2;
}
.ordflex{
    display: flex;
    flex-wrap: wrap;


    & .ordinp{
        width: 50%;
        

        & h2{
            font-size: 40px;
            font-weight: lighter;
            padding: 20px 0px;
        }

        & .email{
            width: calc(50% - 4px);
            padding: 10px 0;
            
        }

        & .name{
            width: 50%;   
            padding: 10px 0;  
            margin-bottom: 20px;  
            
        }

        & .add{
            width: 100%;
            padding: 10px 0;
            margin-bottom: 20px;
        }

        & textarea{
            width: 100%;
            margin-bottom: 20px;

        }

        & a{
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            color: #686868;
            border: 2px solid black;
        }
    }

    & .ordimg{
        width: 50%;
        padding: 20px 50px;
    }


    & .inptitle{
        width: 100%;
    }

    @media (max-width:880px){
        .ordinp{
            width: 100%;
        }
        .ordimg{
            width: 100%;
        }

    }
}

footer{
    background:#333333;
    padding: 100px 0px;

    p{
        width: 100%;
        text-align: center;
        padding: 0px 0px;
        color: white;
    }

    & .footflex{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    & .foota{
        display: flex;
        margin: 50px;


        & span{
            color: white;
        }
        
        & a{
            display: inline-block;
            
            color: white;
            
        }
    }
}
